# Datavisualisation course: Milestone 1

In [4]:
# Reading from MySQL with Pandas from
# https://pythontic.com/pandas/serialization/mysql
from sqlalchemy import create_engine

import pymysql
import pandas as pd

# The first part could be packed in a special class that offers methods to collect result
with open('.env') as f:
    creds = f.read().split(':')
    user, password = creds
    print(f"User: '{user}'\nPassword: '{password}'")

sqlEngine       = create_engine(f'mysql+pymysql://{user}:{password}@zfk.fr', pool_recycle=3600)
dbConnection    = sqlEngine.connect()

frame           = pd.read_sql("show databases", dbConnection)

#pd.set_option('display.expand_frame_repr', False)
print(frame)

print('Sampled users')
frame           = pd.read_sql("select * from osu_mlpp.sample_users", dbConnection)
print(frame, end='\n\n')


print('Random users')
frame           = pd.read_sql("select * from osu_random.sample_users", dbConnection)
print(frame, end='\n\n')

print('Top 10k users')
frame           = pd.read_sql("select * from osu_top.osu_user_stats", dbConnection)
print(frame, end='\n\n')

dbConnection.close()

User: 'mlpp'
Password: 'Ky3X1YCXPVPS07RO'
             Database
0  information_schema
1                mlpp
2            osu_mlpp
3          osu_random
4             osu_top
Sampled users
        user_id      username  user_warnings  user_type
0          7529    Zawilynsky              0          0
1         13854         HineX              0          0
2         17695   Mafiamaster              0          0
3         30714     The1Flame              0          0
4         38934  SNEEUWxWITJE              0          0
...         ...           ...            ...        ...
22753  22364577       Reltith              0          0
22754  22366762        veecsv              0          0
22755  22367592      Otosan_0              0          0
22756  22369358    Ghost_2021              0          0
22757  22370641      Louiis72              0          0

[22758 rows x 4 columns]

Random users
       user_id         username  user_warnings  user_type
0       100507       blackbeard              0          0
1       305208           tmdfus              0          0
2       311698      oceane59650              0          0
3       346229        Squidward              0          0
4       349188            kgt38              0          0
...        ...              ...            ...        ...
9995  22303922          kamycha              0          0
9996  22304728        miss_koro              0          0
9997  22304833          XDark12              0          0
9998  22305475     Zeppelin_Air              0          0
9999  22307070  vietnam_hamster              0          0

[10000 rows x 4 columns]

Top 10k users
       user_id  count300  count100  count50  countMiss  accuracy_total  \
0        16622  17109981   1390807   145233     308038       586072100
1        18983  68988111   3647079   319382    1050059      2531590550
2        19048  33351348   2418575   289003     777415       912890000
3        19525  18763935   1967672   216408     617778       552155150
4        23326  22579093   1342114   122999     379992       882651450
...        ...       ...       ...      ...        ...             ...
9995  17446380   4088695    782599    89600     257474       116485900
9996  17707250   5739026    997001   147151     642606        93997000
9997  17799847   2800228    261226    24005     131255        94992300
9998  18317610   3764382    633246    76850     281146       104644500
9999  18463966   5124311    657508    54726     184782       304230750

      accuracy_count  accuracy  playcount  ranked_score  ...  fail_count  \
0            2017487  0.968320      83288   41180141312  ...       14290
1            8645906  0.976027     323877  210821484704  ...       32521
2            3118336  0.975830     166424   61785548846  ...       23386
3            1961845  0.938156      79729   23984833599  ...       21790
4            3005655  0.978879     104927   62551563004  ...       12707
...              ...       ...        ...           ...  ...         ...
9995          446484  0.869653      34682    3066847672  ...       10283
9996          364229  0.860237      57850    2073493168  ...       19898
9997          342964  0.923249      23555    2724396339  ...        6983
9998          391857  0.890159      23866    2858776781  ...        5617
9999         1104140  0.918455      31779    7632853304  ...        6898

      exit_count  max_combo  country_acronym  rank_score  rank_score_index  \
0          52911       5086               TW     7810.07              6485
1         198971       8957               GB    10750.70               871
2         103675       9288               BR    10634.60               938
3          43227       2003               GB     8031.98              5526
4          53857       7563               NL     8678.33              3546
...          ...        ...              ...         ...               ...
9995       21237       2242               IT     7776.14              6618
9996       31368       2362               CA     7323.08              9314
9997       12487       1679               NZ     7255.63              9813
9998       14752       1914               US     7440.38              8513
9999       16706       1621               CL     7290.72              9551

      accuracy_new         last_update         last_played  \
0          98.7380 2021-03-31 06:27:03 2021-03-11 11:38:41
1          98.6011 2021-03-31 14:35:39 2021-03-29 02:11:23
2          98.3686 2021-03-31 17:51:31 2021-03-29 01:05:44
3          98.8650 2021-03-31 06:26:59 2021-03-31 00:14:24
4          98.9046 2021-03-31 17:56:10 2021-03-25 19:29:51
...            ...                 ...                 ...
9995       95.2433 2021-03-31 07:09:10 2021-03-31 07:09:10
9996       97.7072 2021-03-31 06:27:09 2021-03-31 06:15:53
9997       99.1517 2021-03-31 06:27:10 2021-03-30 00:17:03
9998       96.9759 2021-03-31 06:27:08 2021-03-31 04:05:07
9999       97.5828 2021-03-31 17:57:18 2021-03-31 17:57:18

      total_seconds_played
0                  4523927
1                 21220947
2                  9453522
3                  5220405
4                  7791943
...                    ...
9995               1198139
9996               1672085
9997                923133
9998               1084066
9999               1473305

[10000 rows x 29 columns]